.nws-wrap {
    position: fixed; top: 0; left: 0; z-index: 9999;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nws-modal {
    background: #fff;
    width: 90%;
    max-width: 480px;
    padding: 2em;
}

.nws-btn-submit {
    margin-top: 2em;
    width: 100%;
}
